name: C/C++ CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: make
      working-directory: ./hw1/src
      run: |
          make debug
          make 
    - name: setup python
      uses: actions/setup-python@v2
      with:
          python-version: 3.8
    - name: execute py script
      working-directory: ./hw1
      run: |
          python3 test_syntax_error.py

